body{
    font: 13px/23px 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    margin: 0;
}
.wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
}



